bin/
obj/
publish/
publish_portable/
publish_single/
decompiled_final/
nilk_hour_test/
nilk_hour_test_30s_*/
terraria_current_screen.png
overlay_quality_smoke.png
*.pdb
*.runtimeconfig.json
*.deps.json
PsychoOverlay_publish.zip
PsychoOverlay_portable_win-x64.zip
.vs/
.vscode/
